name: "Coding Standard"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  coding-standard:
    name: "Coding Standard"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.2"

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress"

      - name: "Coding Standard"
        run: "composer cs-check"
