name: "PHPStan"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  phpstan:
    name: "PHPStan"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.5"

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress"

      - name: "PHPStan"
        run: "composer phpstan"
